@import "variables";
@import "mixins";

.cotenedor{
    width: 100%;
    height: 100vh;

    border: $border-style;
    background: $primary-color;
    color: $text-color;
    
    @include center-div();
}

.cotenedor p{
    padding: 8px;
}

p{
    @include std-space($margin-std);

}

&:hover{
    background-color: $second-color;
}

